// select
$add-category-select-width: 120px;

// input
$add-category-input-width: 300px;

// submit button
$add-category-submit-btn-width: 200px;

.add-category-select {
    width: $add-category-select-width !important;
}

.add-category-input {
    width: $add-category-input-width !important;
}

.add-category-submit-btn {
    width: $add-category-submit-btn-width;
}
