.wang-toolbar {
    border: 1px solid #ccc;
    border-bottom: 0;
}

.wang-text-container {
    border: 1px solid #ccc;
    min-height: 1500px;
    height: 1500px;
}

.wang-list-div{
    width: 100%;
}

.wang-list-container{
    height: 100%;
    width: 100%;
}
